dn: CN=ldapPublicKey,CN=Schema,CN=Configuration {{ LDAP_SUFFIX }}
changetype: add
objectClass: top
objectClass: classSchema
governsID: 1.3.6.1.4.1.24552.500.1.1.2.0
cn: ldapPublicKey
name: ldapPublicKey
description: MANDATORY: OpenSSH LPK objectclass
lDAPDisplayName: ldapPublicKey
subClassOf: top
objectClassCategory: 3
defaultObjectCategory: CN=ldapPublicKey,CN=Schema,CN=Configuration {{ LDAP_SUFFIX }}
mayContain: sshPublicKey
-